.DS_Store
config.ini
.vscode/
bin/
include/
lib/
pyvenv.cfg
log/*
!log/.gitkeep
test.py
__pycache__/azureopenaifunctionplugin.cpython-310.pyc
functionplugin/__pycache__/querytime.cpython-310.pyc
.gitignore
functionplugin/__pycache__/sendemail.cpython-310.pyc
functionplugin/__pycache__/turtleimg.cpython-310.pyc
functionplugin/__pycache__/webbrowse.cpython-310.pyc
ChatGptFunction.command
functionplugin/__pycache__/posttoqw.cpython-310.pyc
functionplugin/__pycache__/wjxanalysis.cpython-310.pyc
functionplugin/__pycache__/wjxwjlist.cpython-310.pyc
